.root {
    /*    -fx-light-text-color: #9fff82;*/
    /*-fx-base: #04932e;*/
    -fx-base: sandybrown;
    -fx-font-family: Verdana;
}

.anchor-pane {
    -fx-background-color: derive(-fx-base, 50%);
    -fx-background-radius: 5 5 0 0;
}

.grid-pane {
    -fx-background-color: black;
}

.button:pressed {
    -fx-background-color: linear-gradient(#0474bf, #b000e0);
}

.button {
/*    -fx-background-color: linear-gradient(#0098ff, #42b3ff);*//*
    -fx-background-color: radial-gradient(center 50% 50%, radius 65%, royalblue,lightskyblue);*/
    -fx-background-color: linear-gradient(to bottom right, royalblue,deepskyblue);
    -fx-effect: innershadow(one-pass-box,coral,2,1,2,-1);
    -fx-text-fill: white;
    -fx-font-weight: bold;

}

.text-field {
    /*
    mess around with later
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 4, 4);
     */
}


#errorLabel {
    -fx-text-fill: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 14pt
}
#editTitle{
    -fx-text-fill: midnightblue;
}
#password_Error{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
#userNameLabel{
    -fx-font-weight: bold;
    -fx-text-fill: darkblue;
    -fx-effect: dropshadow(one-pass-box,white,1,2,1,1);
}

.tab-header-background {
    -fx-background-color: linear-gradient(skyblue, royalblue);
    -fx-outer-border: transparent;
}


.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-base: seagreen;
    /*-fx-background-color: mediumpurple;*/
}

.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: whitesmoke;
    /*-fx-color: green;*/
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    /* -fx-background-color: -fx-outer-border, purple, -fx-background;*/
    -fx-base: derive(mediumvioletred, 40%);
}

.tab-pane .tab-header-area .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: black;
}


/** The following CSS is for the Date picker element***/

.date-picker {
    -fx-base: deepskyblue;
    -fx-font-family: Verdana;
}

.date-picker:hover {
    -fx-base: darkorchid;
}

.date-picker .button {
    -fx-base: burlywood;
    /*    -fx-background-color: linear-gradient(#fff, #ffb566);*/
}

.date-picker-popup > * > .day-cell {
    /*   -fx-background-color: derive(violet, 10%);*/
    -fx-base: derive(blueviolet, 20%);
}

.date-picker:editable .arrow-button .arrow {
    /*   -fx-base: #20ff10;*/
    -fx-background-color: blue, white;
    /* -fx-background-color: white;*/
    -fx-effect: dropshadow(one-pass-box, darkgray, 1, 1, 1, 1);
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background-color: #948de1;
}

.date-picker-popup > * > .previous-month.today,
.date-picker-popup > * > .next-month.today {
    -fx-background-color: darkorange;
}

.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    -fx-background-color: lightskyblue;
}

.date-picker-popup > * > .spinner > .label {
    -fx-text-fill: ghostwhite;
    -fx-font-weight: bold;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: black;
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: linear-gradient(azure, skyblue);
}

.date-picker-popup > * > .spinner > .button:pressed {
    -fx-background-color: linear-gradient(ghostwhite, plum);
}

.date-picker:editable:hover {
    -fx-background-color: red;
}

.date-picker-popup > * > .today {
    -fx-background-color: orange;
}

/*******************************/

.label {
    -fx-text-fill: brown;
    -fx-font-family: Verdana;
}

.hyperlink {
    -fx-background-color: derive(red, -40%);
    -fx-text-fill: gold;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(one-pass-box, white, 2, 2, 2, 2);
    -fx-font-family: Verdana;
}

.choice-box .open-button .arrow {
    -fx-background-color: darkblue, white;
/*    -fx-effect: innershadow(one-pass-box, black,1,2,1,1);*/
}

.choice-box {
    -fx-base: deepskyblue;
    -fx-background-radius: 2 10 2 10;
}

.choice-box .label {
    -fx-text-fill: white;
    -fx-font-size: 12.5;
    -fx-font-family: Verdana;
}

.choice-box .context-menu {
    -fx-base: powderblue;
    -fx-text-fill: black;
    -fx-background-radius: 2 10 2 10;
}

.choice-box .context-menu .label {
    -fx-text-fill: black;

}

.combo-box {
    -fx-base: lightskyblue;
    -fx-background-radius: 3, 7, 4, 2;
    -fx-font-family: Verdana;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: darkblue, white;
/*    -fx-effect: dropshadow(one-pass-box,black,1,2,1,1);*/
}

.text-area {
    /* -fx-background-color: #ff0a51;*/
    -fx-border-color: black;
    -fx-border-radius: 1 1 1 5;
    -fx-highlight-fill: darkgreen;
}

.text-area *.content {
    -fx-base: powderblue;
    -fx-prompt-text-fill: darkred;
    -fx-highlight-fill: #006400;
}

.text-field {
    -fx-base: plum;
    -fx-font-family: Verdana;
}

.text-field:focused {
    -fx-border-color: black;
    -fx-border-radius: 1 1 1 1;
    -fx-highlight-fill: darkgreen;
    -fx-prompt-text-fill: darkgray;
}

/** The following block of code pertains to the tables *****/

/*Code for odd rows of cells on tables*/
.table-row-cell:odd {
    /*-fx-base: #ee4466;*/
    -fx-base: coral;
    /*-fx-background-color: #ffb871;*/

}

/*Code for even rows of cells on tables*/
.table-row-cell:even {
    /*-fx-base: purple;
    -fx-background-color: #f6a2b3;*/
    -fx-base: derive(mediumvioletred, 50%);
}

/*This changes the way the borders are colored inside of a table*/
.table-view:row-selection, .table-view:row-selection:selected {
    -fx-light-text-color: derive(darkblue, 40%);
}

/*This changes the color of when you have a cell or row selected in a table*/
.table-row-cell:focused, .table-row-cell:selected {
    -fx-background-color: lightskyblue;

}

.table-view {
    -fx-background-color: skyblue;
    -fx-background-radius: 10 10 1 1;
    -fx-background-insets: 10 2 0 2;
}

/*This changes the color of the column headers of tables*/
.column-header {
    -fx-background-color: derive(royalblue, 10%);
    -fx-background-radius: 10 10 1 1;
    -fx-effect: innershadow(one-pass-box, dimgray, 1, 1, 1, 1);
}

.table-view .column-header-background {
    -fx-base: derive(mediumblue, -20%);
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 1 1;
}

/*This changes the color of the text for table headers*/
.table-view:row-selection .column-header-background .nested-column-header .label {
    /*    -fx-text-fill: whitesmoke;*/
    -fx-text-fill: whitesmoke;
    -fx-base: lightskyblue;

}

/*This changes the color of the scrollbars within the gui*/
.scroll-bar:vertical .thumb{
    -fx-base: royalblue;
    -fx-background-color: linear-gradient(deepskyblue, #add5ff, lightseagreen);
}
.scroll-bar:horizontal .thumb{
    -fx-base:royalblue;
    -fx-background-color: linear-gradient(to left, deepskyblue,#add5ff,lightseagreen);
}

 .scroll-bar, .table-view .scroll-bar {
    -fx-base: derive(azure, -9%);
}

/**********************************/
