/*This changes the background of the anchor panes within the tabview*/
.anchor-pane {
    -fx-background-color: linear-gradient(to top, lightcyan 10%, white 20%, purple, darkmagenta);
    /*-fx-background-color: derive(goldenrod,80%);*/
}

.label {
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: linear-gradient(#0474bf, #b000e0);
}

.button {
    -fx-background-color: linear-gradient(#0098ff, #42b3ff);
    -fx-text-fill: #d6fffc;
    -fx-font-weight: bold;
}


/**This block of code is for the tab and tab panes. Basically the stuff at the top.**/
.tab-header-background {
    -fx-base: darkblue;
    /*-fx-background-color: darkblue;*/
    -fx-outer-border: purple;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-base: purple;
}

.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: whitesmoke;
    -fx-color: blue;
}


.tab-pane .tab-header-area .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: black;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    /* -fx-background-color: -fx-outer-border, purple, -fx-background;*/
    -fx-base: #d384ff;
}

/******************************/

.choice-box .open-button .arrow {
    -fx-base: green, white;
    -fx-background-color: red, green;
}

.choice-box {
    /*-fx-base: #ffcc5c;*/
    -fx-base: violet;
}

.choice-box .label {
    -fx-text-fill: maroon;
}
.hyperlink{
    -fx-background-color: purple;
    -fx-background-radius: 5 5 5 5;
    -fx-effect: dropshadow(one-pass-box, mediumvioletred, .5, 15, 5,5);
    -fx-text-fill:gold;

}
/** The following block of code pertains to the tables *****/

/*Code for odd rows of a table*/
.table-row-cell:odd {
    /*-fx-base: #ee4466;*/
    -fx-base: coral;
    /*-fx-background-color: #ffb871;*/
    -fx-table-cell-border-color: #a2662a;
    -fx-border-color: brown, -fx-table-cell-border-color, tan, tan;
}

/*Code for even rows of a table*/
.table-row-cell:even {
    /*-fx-base: purple;
    -fx-background-color: #f6a2b3;*/
    -fx-border-color: white, tan, tan;
}

.table-row-cell {
    -fx-base: hotpink;
}

.table-view:row-selection {
    -fx-table-cell-border-color: #cd6d16;
    -fx-light-text-color: white;
    -fx-base: #edaffd;

}

/*This ALSO must be transparent to make the table look nice*/
.table-view .column-header-background {
    /*-fx-background-color: transparent;*/
    -fx-background-radius: 10 10 0 0;
}

/*This changes the color of when you have a row selected in a table*/
.table-row-cell:focused, .table-row-cell:selected {
    -fx-background-color: violet;
}

/*This makes the area behind table tabs transparent*/
.table-view:row-selection {
    -fx-background-color: transparent;
}

/*This changes the color of the table header columns*/
.column-header {
    -fx-background-color: derive(darkviolet, 10%);
    -fx-background-radius: 10 10 0 0;
}

/*This changes the color of the text on column headers in tables.*/
/*Don't ask why.*/
.table-view:row-selection .column-header-background .nested-column-header .label .text {
    -fx-fill: derive(ghostwhite, 50%);
}

/*This changes the color of the scrollbars.*/
.thumb {
    -fx-background-radius: 5 5 5 5;
    -fx-background-color: linear-gradient(purple, darkred);
    /*-fx-color: linear-gradient(rebeccapurple, black);*/
    /*
    -fx-background-color: linear-gradient(rebeccapurple, darkred);
    */
}

/**********************************/