/*This changes the background of the anchor panes within the tabview*/
.anchor-pane {
    -fx-background-color: linear-gradient(to top, lightcyan 10%, white 20%, purple, darkmagenta);
    /*-fx-background-color: derive(goldenrod,80%);*/
}

.label {
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: linear-gradient(#0474bf, #b000e0);
}

.button {
    -fx-background-color: linear-gradient(#0098ff, #42b3ff);
    -fx-text-fill: #d6fffc;
    -fx-font-weight: bold;
}


/**This block of code is for the tab and tab panes. Basically the stuff at the top.**/
.tab-header-background {
    -fx-base: darkblue;
    /*-fx-background-color: darkblue;*/
    -fx-outer-border: purple;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-base: mediumvioletred;
}

.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: whitesmoke;
    -fx-color: blue;
}


.tab-pane .tab-header-area .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: black;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    /* -fx-background-color: -fx-outer-border, purple, -fx-background;*/
    -fx-base: #d384ff;
}

/******************************/

.choice-box .open-button .arrow {
    -fx-base: green, white;
    -fx-background-color: white, gold;
	/*-fx-shape:"m 38.553581,27.124993 68.887619,58.70408 76.77565,-47.928831 -16.39542,89.010468 79.89541,42.52525 -85.28304,30.30638 3.11977,90.45408 -68.887623,-58.70408 -76.775646,47.92883 16.395415,-89.01047 -79.895408,-42.52524 85.283035,-30.30639 z";*/
-fx-scale-shape:true;
-fx-position-shape:true;
}

.choice-box {
    /*-fx-base: #ffcc5c;*/
    -fx-base: violet;
}
.date-picker:editable .arrow-button .arrow{
-fx-shape:"m 86.830078,99.939453 c -1.387545,0.04515 -2.79727,0.428637 -4.017578,1.187497 -6.273709,3.07991 -0.428122,10.52836 2.599609,13.84961 1.065038,1.2184 2.235673,2.32561 3.365235,3.47656 1.691331,-3.48156 3.201505,-7.04481 4.226562,-10.81835 1.950936,-4.92517 -2.011191,-7.830766 -6.173828,-7.695317 z m 1.947266,18.513667 c -3.694401,7.60483 -8.48933,14.70463 -12.900391,21.91602 -7.109741,4.31323 -14.118219,8.8251 -21.5625,12.5332 6.029864,5.81957 11.278739,12.47618 16.779297,18.82227 1.915622,8.17348 4.072867,16.30858 5.310547,24.61328 7.398271,-3.93667 15.350386,-6.87218 23.085937,-10.14258 8.365236,0.7039 16.768266,1.16565 25.048826,2.55469 -1.45787,-8.2529 -1.79176,-16.72401 -2.51172,-25.0918 3.25421,-7.73774 6.28849,-15.58763 10.16797,-23.0332 -8.2994,-1.16406 -16.45799,-3.4643 -24.63867,-5.36523 -6.35965,-5.49133 -12.892846,-10.80871 -18.779296,-16.80665 z M 132.19531,140.625 c 3.83384,0.53773 7.69319,0.85574 11.60742,0.6543 7.04931,0.44465 7.43628,-8.00075 3.04102,-11.70508 -4.86785,-5.0149 -10.14606,2.84609 -12.36914,6.75195 -0.83415,1.39696 -1.53009,2.86093 -2.2793,4.29883 z m -7.65625,48.125 c 0.67329,3.81141 1.56404,7.57877 2.96485,11.23828 1.75547,6.8417 9.9055,4.60023 12.07031,-0.72461 3.26522,-6.1793 -5.84248,-8.76849 -10.24414,-9.67578 -1.58583,-0.36152 -3.1925,-0.56974 -4.79102,-0.83789 z m -48.134763,7.58789 c -3.416877,1.81815 -6.72585,3.82787 -9.773438,6.29102 -5.964375,3.78375 -1.313267,10.84247 4.419922,11.25586 6.885862,1.1959 6.534417,-8.26583 6.03711,-12.73243 -0.146181,-1.61948 -0.444738,-3.21175 -0.683594,-4.81445 z M 54.314453,152.90234 c -2.785333,-2.68819 -5.721103,-5.21402 -9.005859,-7.35156 -5.441653,-4.50322 -10.718338,2.10327 -9.339844,7.6836 0.990486,6.91839 9.880298,3.65987 13.974609,1.80664 1.496035,-0.6399 2.919716,-1.41572 4.371094,-2.13868 z";
-fx-scale-shape:true;
-fx-position-shape:true;
}
.choice-box .label {
    -fx-text-fill: maroon;
}
.hyperlink{
    -fx-background-color: purple;
    -fx-background-radius: 5 5 5 5;
    -fx-effect: dropshadow(one-pass-box, mediumvioletred, .5, 15, 5,5);
    -fx-text-fill:gold;

}
/** The following block of code pertains to the tables *****/

/*Code for odd rows of a table*/
.table-row-cell:odd {
    /*-fx-base: #ee4466;*/
    -fx-base: coral;
    /*-fx-background-color: #ffb871;*/
    -fx-table-cell-border-color: #a2662a;
    -fx-border-color: brown, -fx-table-cell-border-color, tan, tan;
}

/*Code for even rows of a table*/
.table-row-cell:even {
    /*-fx-base: purple;
    -fx-background-color: #f6a2b3;*/
    -fx-border-color: white, tan, tan;
}

.table-row-cell {
    -fx-base: hotpink;
}

.table-view:row-selection {
    -fx-table-cell-border-color: #cd6d16;
    -fx-light-text-color: white;
    -fx-base: #edaffd;

}

/*This ALSO must be transparent to make the table look nice*/
.table-view .column-header-background {
    /*-fx-background-color: transparent;*/
    -fx-background-radius: 10 10 0 0;
}

/*This changes the color of when you have a row selected in a table*/
.table-row-cell:focused, .table-row-cell:selected {
    -fx-background-color: violet;
}

/*This makes the area behind table tabs transparent*/
.table-view:row-selection {
    -fx-background-color: inherit;
 -fx-background-radius: 10 10 0 0;
-fx-border-color:black;
-fx-border-radius: 10 10 0 0;
}

/*This changes the color of the table header columns*/
.column-header {
    -fx-background-color: derive(darkviolet, 10%);
    -fx-background-radius: 10 10 0 0;
}

/*This changes the color of the text on column headers in tables.*/
/*Don't ask why.*/
.table-view:row-selection .column-header-background .nested-column-header .label .text {
    -fx-fill: derive(ghostwhite, 50%);
}

/*This changes the color of the scrollbars.*/
.thumb {
    -fx-background-radius: 5 5 5 5;
    -fx-background-color: linear-gradient(purple, darkred);
    /*-fx-color: linear-gradient(rebeccapurple, black);*/
    /*
    -fx-background-color: linear-gradient(rebeccapurple, darkred);
    */
}
.test{
    -fx-text-fill: red;
}
/**********************************/